.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle {
    color: rgba(23, 79, 23, 0.763)
}

.cartBtn{
    padding: 2rem 5rem;
    background-color: rgb(94, 94, 226);
    border-color: rgb(94, 94, 226);
    border-radius: 0.7rem;
}

.cartBtn span {
    margin: 0.4rem;
}